@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;700&display=swap');

.button1_Mobl {
    background-color: #FFFFFF;
    border: 0.5px solid #000000;
    display: inline-flex;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 51pt;
}